@page
@model SignalRAssignment.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class=" row text-left justify-content-md-center"
     style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);; padding: 50px;">

    <h3 class="display-6 text-center text-white fw-bold">Register Account</h3>
    <span class="text-center text-white fw-bold">Enter your detail below </span>
    <form method="post" class="w-50 mt-4"
          style="background: linear-gradient(to right, rgb(159 128 193), rgb(37 46 60)); padding: 50px; border-radius: 3%;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Account.UserName" class="control-label text-white"></label>
            <input asp-for="Account.UserName" class="form-control" />
            <span asp-validation-for="Account.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Account.Password" class="control-label text-white"></label>
            <input asp-for="Account.Password" class="form-control" type="password" />
            <span asp-validation-for="Account.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Account.ConfirmPassword" class="control-label text-white"></label>
            <input asp-for="Account.ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="Account.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Account.FullName" class="control-label text-white"></label>
            <input asp-for="Account.FullName" class="form-control" />
            <span asp-validation-for="Account.FullName" class="text-danger"></span>
        </div>

         <div class="d-flex row">
             <div class="form-group my-3 d-flex justify-content-center text-center">
                <input type="submit" value="Create" class="btn btn-primary me-5" />
                <a class="btn btn-primary" asp-page="/Login">Login</a>
             </div>
        </div>

    </form> 
</div>   


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}